@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

abbr{
  color: var(--primary-color);
}

span {
  color: var(--primary-color);
}


:root {
  font-family:sans-serif;

  color-scheme: any;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1F1F1F;   /* 60% of the usage */
  --secondary-color: #ffffff; /* 30% of the usage */
  --accent-color: #006eff;     /* 10% of the usage */

  --page-container-bg: #f5f5f5;
  --soft-gray-text: #b1b1b1;

  --soft-border: #cbcbcb;
  --secondary-bg-offset: rgb(250, 251, 252);

  --link-color: #1a47e8;
  --accent-hover-color: #0059c1;

  --soft-gray: #cbcbcb;
  --soft-gray-hover: #b3b3b3;

  color: var(--primary-color) ;

}

a{
  text-decoration: none;
  color: var(--primary-color)
}

a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.page-container{
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.page-layout{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-content{
  background-color: var(--secondary-background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 95vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
}


.secondary p{

  color: var(--soft-gray-text) ;
}


button {
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  width: fit-content;
  padding: 0.5rem 1rem;

  transition: all 0.25s ease;
}

button.danger{
  background-color: red;
}

button:hover {
  background-color: var(--accent-hover-color);
}

.primary-button {
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px auto 0;
  background-color: var(--accent-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.locked-button {
  display: block;
  background-color: var(--soft-gray);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.locked-button:hover {
  background-color: var(--soft-gray); 
}

.icon-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   padding: 11px;

   transition: all 0.25s ease;
}

.icon-button.secondary{
  background-color: var(--soft-gray);
}
.icon-button.secondary:hover{
  background-color: var(--soft-gray-hover);
}

.icon-button.danger{
  background-color: red;
}

.icon-button-link{
  cursor: pointer;
  transition: all 0.15s ease;
}

.icon-button-link:hover{
  color: var(--accent-color);
  scale: 1.1;
}

input {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-bg-offset);
  border: 1px solid var(--soft-border);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;

  transition: all 0.25s ease;
}

input:hover {
  border-color: var(--accent-color);
}

textarea {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-bg-offset);
  border: 1px solid var(--soft-border);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  padding: 10px;

  max-height: 100px;

  border: 1px solid var(--soft-border);
}

input[type="file"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  appearance: auto;
  background-color: white !important; /* White background */
  border: none;
  height: fit-content;
  
}

input[type="checkbox"] {
  width: 22px; /* Adjust the width as needed */
  height: 22px; /* Adjust the height as needed */
  cursor: pointer;
  appearance: auto;
  background-color: white !important; /* White background */
  border: 2px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
}

input[type="checkbox"]:checked {
  background-color: white;
  border: 2px solid var(--accent-color); /* Blue border for checked state */
}

input[type="checkbox"]:focus {
  outline: none; /* Removes outline on focus */
  border-color: var(--accent-color); /* Highlight color when focused */
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  border-radius: 4px;

  transition: all 0.25s ease;
}

select:hover {
  border-color: var(--accent-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:disabled {
  background-color: var(--soft-gray);
  color: #888888;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.subinfo-text p{
  font-size: 14px;
  font-weight: 500;
  color: var(--soft-gray-text);
}

.hotbar{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  height: 100px;

  padding: 20px 20px  ;
}

.hotbar svg{
  cursor: pointer;
  transition: all 0.25s ease;
}

.hotbar svg:hover{
  scale: 1.1;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Adds a line between rows */
}

.vertical-divider{
  width: 1px;
  height: auto;
  background-color: var(--soft-gray);
}

.horizontal-divider{
  width: 100%;
  height: 1px;
  background-color: var(--soft-gray);
}